:root {
    --primary:rgb(34,41,70);
    --secoundary:rgb(233,236,252);
    --tertiary:rgb(86,183,103);
}

/* Reset CSS Start  */

/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   line-height: 1;
}
ol, ul {
   /* list-style: none; */
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
*,
*::before,
*::after{
   box-sizing: border-box;
}

/* Reset CSS over */

/* general */

body{
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    /* padding: 0 32px; */
}

.flex{
    display: flex;
    justify-content: space-between;
    padding: 0 32px;
    /* background-color: rgba(124, 25, 253, 0.404); */
   

}

/* header top */

.bg-top{
    background-image: url(./assets/banner.png);
    width: 100%;
    height:300px;
    background-size: cover;
    position: absolute;
    z-index: -1;
}

.purple{
   /* background-color: rgba(203, 2, 253, 0.404); */

}

.wall{
   width: 100%;
}

.btn-head{
   padding: 10px 30px;
   background-color:crimson;
   color: white;

}

.col{
   width: 100%;
}